body {
  background-color: #429c4d;
}
header {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#367f3f), to(#367f3f), color-stop(0.5, #429c4d));
  background-image: -moz-linear-gradient(top, #367f3f, #429c4d, #367f3f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darkColor', endColorstr='@middleColor');
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.5em;
}
nav {
  height: 44px;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#51b55e), to(#51b55e), color-stop(0.5, #75c47f));
  background-image: -moz-linear-gradient(top, #51b55e, #75c47f, #51b55e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@lightColor', endColorstr='@lightestColor');
}
nav ul {
  height: 100%;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
nav ul li {
  display: inline-block;
  position: relative;
  float: left;
  width: 106px;
  height: 100%;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
}
nav#controls {
  /* hover mixin */
}
nav#controls .nav_hover {
  display: block;
  position: absolute;
  font-weight: bold;
  text-align: center;
  height: 105px;
  line-height: 105px;
  width: 100%;
  z-index: 1000;
}
nav#controls #navHome {
  background-image: url(/static/Actions-go-home-icon.png);
}
nav#controls #navHome:hover:after {
  content: "Home";
  display: block;
  position: absolute;
  font-weight: bold;
  text-align: center;
  height: 105px;
  line-height: 105px;
  width: 100%;
  z-index: 1000;
}
nav#controls #navNewGame {
  background-image: url(/static/Actions-games-solve-icon.png);
}
nav#controls #navNewGame:hover:after {
  content: "New Game";
  display: block;
  position: absolute;
  font-weight: bold;
  text-align: center;
  height: 105px;
  line-height: 105px;
  width: 100%;
  z-index: 1000;
}
nav#controls #navCurGame {
  background-image: url(/static/black-chess-icon.png);
}
nav#controls #navCurGame:hover:after {
  content: "Current Game";
  display: block;
  position: absolute;
  font-weight: bold;
  text-align: center;
  height: 105px;
  line-height: 105px;
  width: 100%;
  z-index: 1000;
}
nav#controls #navHome.selected {
  background-image: url(/static/Actions-go-home-icon.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#367f3f), to(#367f3f), color-stop(0.5, #429c4d));
  background-image: url(/static/Actions-go-home-icon.png), -moz-linear-gradient(top, #367f3f, #429c4d, #367f3f);
}
nav#controls #navNewGame.selected {
  background-image: url(/static/Actions-games-solve-icon.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#367f3f), to(#367f3f), color-stop(0.5, #429c4d));
  background-image: url(/static/Actions-games-solve-icon.png), -moz-linear-gradient(top, #367f3f, #429c4d, #367f3f);
}
nav#controls #navCurGame.selected {
  background-image: url(/static/black-chess-icon.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#367f3f), to(#367f3f), color-stop(0.5, #429c4d));
  background-image: url(/static/black-chess-icon.png), -moz-linear-gradient(top, #367f3f, #429c4d, #367f3f);
}
nav#colors {
  position: absolute;
  bottom: 0px;
}
nav#colors #green {
  background-color: #367f3f;
}
nav#colors #blue {
  background-color: #1630ac;
}
nav#colors #purple {
  background-color: #942192;
}
section#gameSection table#gameBoard {
  margin-left: auto;
  margin-right: auto;
}
section {
  -webkit-transition-property: opacity;
  -webkit-transition-delay: 0.25s;
  -webkit-transition-duration: 1.0s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: opacity;
  -moz-transition-delay: 0.25s;
  -moz-transition-duration: 1.0s;
  -moz-transition-timing-function: ease;
  transition-property: opacity;
  transition-delay: 0.25s;
  transition-duration: 1.0s;
  transition-timing-function: ease;
  z-index: 0;
  position: absolute;
  width: 100%;
  display: block;
  opacity: 0;
}
section.obscured {
  z-index: 100;
  opacity: 0.1;
}
section.active {
  z-index: 100;
  opacity: 1;
}
#gameEndMessage {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
table#gameBoard tr td {
  border: 1px solid black;
  height: 92px;
  width: 92px;
}
@-webkit-keyframes 'piecedrop' {
  0% {
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
div.x {
  background: url('/static/x.png');
  height: 90px;
  width: 90px;
}
div.o {
  background: url('/static/o.png');
  height: 90px;
  width: 90px;
}
div#animated.o {
  -webkit-animation: piecedrop;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
}
input.blank,
div.blank {
  height: 90px;
  width: 90px;
}
