{% extends "site.html" %}

{% block pagetitle %}Game{% endblock %}
{% block primary %}

    <!--<form method="post" action="/game/">-->
    {% csrf_token %}
    <table id="gameBoard">
        <tr>
    {% for index in game.board %}
    {% if forloop.counter0 > 0 and forloop.counter0|divisibleby:3 %}
        </tr>
        <tr>
    {% endif %}
    {% if index == game.X %}
        <td>
            <div class="x" />
        </td>
    {% else %} {% if index == game.O %}
        <td>
            <div class="o" />
        </td>
    {% else %} {% if endGame %}
        <td> 
            <div class="blank" />
        </td>
    {% else %}
        <td>
            <!--<input type="submit" class="blank" name="gridIndex" value="{{ forloop.counter0 }}">-->
            <div class="blank" onclick="gameMove(event)" id="{{ forloop.counter0 }}">
        </td>
    {% endif %} {% endif %} {% endif %}
    {% endfor %}
        </tr>
    </table>
    <!--</form>-->

{% endblock %}

