<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <title>Tic Tac Toe - {%block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <div id="header">Tic Tac Toe</div>
    <div id="nav">
      <ul>
        <li><a href="/home/">Home</a></li>
        <li><a href="/newGame/">New Game</a></li>
        <li><a href="/game/">Current Game</a></li>
      </ul>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div id="content">
      <div id="primary">
        <h1>{% block title %}{% endblock %}</h1>
        {% block primary %}{% endblock %}
      </div>
    </div>
  </body>
</html>


